/* Body Work*/
body {
    margin-top: 100px;
}
 
/*Info Page Work*/

#info-nav {
    background-color: #f58845;
}

/* Home Page Work*/
#home-nav {
    background-color:#b0ccff;
}

/* Gallery Work */
  #gallery-nav {
      background-color: #ffc1b0;
  }

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  margin-right: 0;
  margin-left: 0;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Nav Work */

.responsive {
    display: block;
}

/* Gallery Images Work */

#img1 {
    width: 100%;
    height: 300px;
}

#img10 {
    width: 100%;
    height: 200px;
}

/* LineUp Image/Text */

.lineup-hero-image {
    background-image: linear-gradient(rgba(0, 0, 0 ,0.5), rgba(0, 0, 0, 0.5)), url("../images/lineup-hero.jpg");
    height: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.lineup-hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}

/* About Us Hero Image/Text Work */

body , html {
    height: 100%;
}

.about-us-hero-image {
    background-image: linear-gradient(rgba(0, 0, 0 ,0.5), rgba(0, 0, 0, 0.5)), url("../images/shm.jpg");
    height: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.about-us-hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:  white;
    }

/* Lineup Page */

.lineup-text {
    font-size: 80px;
}

@media (max-width: 768px) {
    .lineup-text {
        font-size: 40px;
    }
}

.card-columns {
    margin: 0;
}

.lineup-card {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 100%;
}

/* Fonts*/

.title-font {
font-family: 'Anton', sans-serif;
}

.html {
    font-family: 'Roboto' , sans-serif;
}

/* Link Work*/

a:link {
    color: #042f63;
}

a:visited {
    color: #042f63;
}

a:hover {
    color: rgb(18, 132, 224);
}

a:active {
    color: #042f63;
}

.icon-cog {
    color: #425e6b;
}

.centered {
    position: absolute;
} 
