/* Home Page Work*/
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #bbdefb;
    padding: 50px;
    font-size: 20px;
    z-index: 1;
}

/* Gallery Responsiveness Work */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  margin-right: 0;
  margin-left: 0;
}


.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Header Work */
.responsive {
    display: block;
}

/* Gallery Images Work */
#img1 {
    width: 100%;
    height: 300px;
}

#img10 {
    width: 100%;
    height: 200px;
}



/* About Us Hero Image/Text Work */

body , html {
    height: 100%;
}

.about-us-hero-image {
    background-image: linear-gradient(rgba(0, 0, 0 ,0.5), rgba(0, 0, 0, 0.5)), url("../images/shm.jpg");
    height: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.about-us-hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:  white;
    }

/* Lineup Page */

.lineup-text {
    font-size: 80;
}

@media (max-width: 768px) {
    .lineup-text {
        font-size: 40;
    }
}


/* Fonts*/
.title-font {
font-family: 'Anton', sans-serif;
}

.html {
    font-family: 'Roboto' , sans-serif;
}

/* Link Work*/

a:link {
    color: #042f63;
}

a:visited {
    color: #042f63;
}

a:hover {
    color: rgb(18, 132, 224);
}

a:active {
    color: 
}

.icon-cog {
    color: #425e6b;
}

.centered {
    position: absolute;
} 
